<!DOCTYPE html>
<html>
<head>
  <title>Scenery out of my window</title>
  <%= stylesheet_link_tag 'application'%> 
</head>
<body>
  <div class="nav">
    <div class ="container">
      <ul>
        <li>about me</li>
        <li>category</li>
      </ul>
    </div>
  </div>
  <%= yield %>
  <div class="foot">
    <div class ="container">
      <ul>
        <li>somethings</li>
        <li>somethings</li>
      </ul>
    </div>
  </div>


</body>
</html>
